{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<body class="galeria">
    <main>
      <p id="gal" >→ Perritos</p>
        <h1 id="titulo" >PERRITOS EN ADOPCION</h1>
      <div id="perritos">
             {% if perros %}
             {% for perro in perros %}
             <div class="boxDog">
                <p class="parrafo">
                <img src="{% static 'img/boxdog1.jpg' %}" alt="perrito con miedo">
                </p>
             </div>
             {% endfor %}
             {% else %}
             <h1 id="error">No hay perros añadidos</h1>
             {% endif %}
              {% if user.is_authenticated %}
              <a href="{% url 'addperro' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
              {% endif %}
         </div>
      </main>
</body>
{% endblock %}