{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/gal.css' %}">
  <link rel="stylesheet" media="screen and (max-width: 700px)" href="{% static 'css/celu.css' %}">
  <link rel="stylesheet" media="screen and (max-width: 500px)" href="{% static 'css/enano.css' %}">
 </head>
<body>
  <main>
      <p id="gal" >→ Perritos</p>
    <h1 id="titulo" >PERRITOS EN ADOPCION</h1>
  <div id="perritos">
        {% for perros in perros %}
         <div class="boxDog">
            <p class="parrafo">
              <img src="/media/{{ perros.imagen }}" width="200">
              <p>Nombre: {{ perros.nombre }}</p>
              <p>Raza: {{ perros.raza }}</p>
              <p>Estado: {{ perros.estado }}</p>
              <p>Descripcion: {{ perros.desc }}</p>
            </p>
            {% if user.is_authenticated %}
            <a href="{% url 'adopt' pk=perros.pk %}" ><button>Adoptar</button></a>
            {% endif %}
            {% if user.is_superuser %}
            <a id="pencil" href="{% url 'edit_perro' pk=perros.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
         </div>
         {% endfor %}
         {% if user.is_superuser %}
         <div class="boxDog">
         
            <a href="{% url 'new_perro' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            
          </div>
          {% endif %}
     </div>
  </main>
</body>
{% endblock %}