.form form{
    padding: 10px;
    margin: auto;
}
.form #txtName
{
	margin-left: 90px;
}

.form #txtCorreo
{
	margin-left: 97px;
    margin-top: 10px;
}

.form #txtRut
{
	margin-left: 120px;
    margin-top: 10px;
}

.form #txtDate
{
	margin-left: 3px;
    margin-top: 10px;
}

.form #txtTel{
	margin-left: 3px;
    margin-top: 10px;
}

.form #txtRegion
{
	margin-left: 95px;
    margin-top: 10px;
}

.form #txtCity
{
	margin-left: 95px;
    margin-top: 10px;
}

.form #txtVivienda
{
	margin-left: 85px;
    margin-top: 10px;
}
.form button{
    min-width: 48px;
}

.form #formulario{
    display: flex;
    width: 100%;
}


.form #ButtonGuardar
{
   margin-left: 190px;
}