.index #icon{
    float: right;
}

.index .carimg{
    width: 100%;
}

.index h2, .index h5{
    text-align: center;
}

.index h1{
    text-align: left;
    margin-right: 10px;
    margin-left: 10px;
}

.index #desc1{
    color: rgb(255, 255, 255);
    font-size: 18px;
    border: black 6px double;
    background-color: #8ABB55;
}

.index #desc2, .index #desc3{
    font-size: 23px;
    border: black 6px double;
    background-color: #8ABB55;
}

.index header{
    background-color: green;
    color: white;
    display: flex;
}

.index article{
    background-color: whitesmoke;
    height: 100%;
    padding: 10px;
}

.index header, .index nav, .index main, .index article{
    width: 100%;
}

.index main{
    background-color: darkseagreen;
    padding: 20px;
}

.index body{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}

.index .some{
    float: none;
}

.index .on, .index .in{
    text-align: center;
}

.index .ono, .index .ino{
    font-size: 18px;
    text-align: center;
}

.index #rescate, .index #rescate2{
    width: 600px;
    margin: auto;
    display: block;
}

.index .ci{
    float: none;
}


.index #contacto{
    width: 100%;
    float: none;
    margin: auto;
    
    background-color: green;
}

.index .cont{
    text-align: center;
}

.index #der{
    width: 100%;
    float: none;
    margin: auto;
    background-color: green;
}

.index .p{
    margin-left: 10px;
}

.index #info{
    padding: 30px;
}

.index .container{
    margin: auto;
}

.index img{
    max-width: 100%;
}

.index footer a{
    color: white;
    text-decoration: none;
}

.index footer a:hover{
    color: #54A1F0;
}